*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(180deg, #1a4d1a,#4ca54c );
    background-repeat: no-repeat;
   min-height: 100vh;
    color: #fff;
}
.btn-div{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.container{
    width: 80%;
    max-width: 1120px;
    margin: 2rem auto;
}
.button-1{
    padding: .8rem 1.2rem ;
    outline: 0;
    border: 0;
    border-radius: 25px;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 400ms;
}
.button-1:hover{
 transform: scale(1.1);
}
 
.modal-box{
    width: 30%;
    padding: 1rem;
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 10;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow:0 3rem 5rem rgba(0, 0, 0, 0.2);
}
 .hide{
    display: none;
} 
h1{
    padding: 1.2rem 0;
}
.close{
    float: right;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: transparent;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: .8s ease;
   backdrop-filter: blur(1.5px);
}
 
@media only screen and (max-width:800px){
    .show-modal{
        width: 80%;
        left:5%;
    }
}